.modal {
  background-color: crimson;
  margin: 30px auto;
  padding: 60px;
  border: none;
  border-radius: 10px;

  button {
    color: crimson;
    background-color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-width: 0;
    border-radius: 50%;
    outline: none;
    filter: opacity(0.7);
    transition: 0.25s;

    &:hover {
      opacity: 1;
      color: crimson;
      filter: drop-shadow(0 0 1rem #1a1a1a);
      transition: 0.25s;
    }
  }
}
