/* .footer {
  min-height: 100px;
  background-color: #1a1a1a;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .description {
    margin-right: 2rem;
  }
} */
